body {
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}
body.modal-open {
    overflow: hidden;
}
/* Navigation */
.jumbotron {
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 270px 0;
    margin: 0;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        -webkit-transform:translateY(200px);
        -ms-transform:translateY(200px);
        transform:translateY(200px)
    }
    100% {
        opacity: 1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
.title {
    font-size: 5rem;
    text-align: center;
    align-items: center;
    background: -webkit-linear-gradient(#14b6a6, #1d64ff, #6613ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:200;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.navbar {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}
.navbar-nav {
    list-style-type: none;
    float: right;
    margin: 0 0 0 auto;
}
.navbar-item {
    padding: 0rem 1rem;
} 
.nav-link {
    color: white;    
    transition: 0.3;
}
.nav-link:hover {
    background-color: white;
    color: black !important;
}

/* Page Content  */

.col-md-3 {
    /* padding: 10px; */
    margin: 0px;
    height: auto;
    text-align: center;
    color: white;
}
.col-md-2 {
    padding: 0px;
    margin: 0px;
    height: auto;
    text-align: center;
    color: white;
}
.img {
    opacity: 1.0;
    transition: 0.3s;
}
@media screen and (max-width: 600px) {
    .img {
        border-radius: 0;
    }
    .col-md-3 {
        padding: 0;
    }
}
@media screen and (min-width: 600px ) {
    .img {
        border-radius: 15px;
    }
    .col-md-3 {
        padding: 10px;
    }
}
.overlay {
    position: absolute;
    top: 0%;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}
.overlayText {
    position: relative; 
    font-size: 1.5rem;
    margin: 50% 0%;
}
.overlay:hover {
    opacity: .7;
}

/* Modal */
.modal {
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.modal-content {
    position: relative;
    background-color: #000000;
    background-blend-mode: darken;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 0px;
    border-style: none;
    background-attachment: fixed;
}  
.modalImg {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}
.mySlide {
      display: none;
      margin: auto;
}
.numbersText {
    position: absolute;
    top: 0;
    color: white;
    padding: 5px;
}
#caption {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.imgBlurb {
    display: none;
}
#blurb {
    margin: auto;
    text-align: center;
    color: white;
    font-size: .8rem;
}

/* Modal controls  */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
  }
  .close:hover, .close:focus {
    color: white;
    border-style: double;
    border-width: 2px;
    border: white;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    font-size: 35px;
    color: white;
    border-radius: 0px 3px 3px 0px;
    padding: 5px;
}
.next {
    right: 31px;
    border-radius: 0px 3px 3px 0px;
}
.prev:hover, .next:hover {
    background-color: rgb(0, 0, 0, 0.8);
    text-decoration: none;
}
/* Footer */
.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
}
/* About CSS */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content2 {
    position: relative;
    background-color: #1a1a1a;
    color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @media screen and (max-width: 700px) {
    .gif {
    width: 80%;
    height: auto;
    }   
  }
  @media screen and (min-width: 700px) {
    .gif {
    max-width: 32%;
    height: auto;
    }   
  }
  

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  i {
    margin: 0 20px;
    }
